.over{overflow:hidden; *zoom:1;}
.fll{float:left;}
.flr{float:right;}
.flow-x{width:100% !important;}
.flow-y{height:100% !important;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
