<div class="popcont dimmer grey-bg">
	<div class="popup txtC getpass">
        <h1>Восстановление пароля</h1>
        <div class="form mb-40">
            <input type="email" placeholder="Адрес электронной почты" class="input brbx">
            <input type="submit" class="brbx" value="Прислать новый пароль">
        </div>
    </div>
	<div class="popup-link">
        <a href="#" class="line" id="close">Закрыть</a>
	</div>
</div>
