<div class="popup border reg">

	<span class="close cp" id="close"></span>
	<aside class="flr">
		<h3>Регистрация</h3>
		<form>
	        <input type="email" class="brbx flow-x" placeholder="Электронная почта" value="" />
	           <input type="text" class="brbx flow-x" placeholder="Пароль" value="" />
			<input type="submit" class="submit brbx" value="Зарегистрироваться" />
	          </form>
	  	</aside>
	<div class="over">
		<h3>Вход</h3>
		<form class="auth fll">
	        <input type="email" class="brbx flow-x" placeholder="donivrecord@gmail.com" value="" />
	           <input type="text" class="brbx flow-x" placeholder="Пароль" value="" />
			<div class="submit-block">
				<input type="submit" class="submit brbx" value="Войти" />
				<a href="#" class="c-grey link" id="getpass">получить новый пароль</a>
			</div>
	          </form>
		<div class="over">
			<span class="soc-desc">или через</span>
			<span class="soc-block">
				<a href="#" class="img"><img src="/img/social/vk.png" alt=""/></a>
				<a href="#" class="img"><img src="/img/social/tw.png" alt=""/></a>
				<a href="#" class="img"><img src="/img/social/mail.png" alt=""/></a>
				<a href="#" class="img"><img src="/img/social/lj.png" alt=""/></a>
				<a href="#" class="img"><img src="/img/social/fb.png" alt=""/></a>
			</span>
			<span class="auth-desc">
				Мы&nbsp;не&nbsp;храним ваши приватные данные и&nbsp;не&nbsp;запоминаем пароли.
			</span>
		</div>
	</div>

</div>
