<tr class="add">
    <td><input type="text" class="brbx services-title" placeholder="${title}" {{if edit}} value="${title}" {{/if}} ></td>
    <td>
        <div class="form-check brbx">
            <fieldset class="item"><input type="radio" id="name" {{if !category}}checked{{/if}}/><label for="name">Наименование</label></fieldset>
            <fieldset class="item"><input type="radio" id="category" {{if category}}checked{{/if}}/><label for="category">Категория</label></fieldset>
        </div>
		<input  class="select services-select" readonly="readonly" type="text" value="${srv}"/>
    </td>
    <td class="txtR"><div class="rel"><input type="text" class="price services-cost" placeholder="${cost}" {{if edit}} value="${cost}" {{/if}}> <span class="t-link"><i class="add" ></i></span></div></td>
</tr>
