<tr>
    <td><span class="txt"><a href="#" {{if !category}}class="able-name"{{else}}class="able-category"{{/if}}><b class="title">${title}</b></a></span></td>
    <td></td>
    <td class="txtR"><div class="rel"><span class="txt cost">${cost}</span> <span class="t-link"><i class="edit"></i><i class="del"></i></span></div></td>
</tr>
