<li class="media js-card">
    <img class="img" src="img/temp/${url}.jpg" />
    <div class="media-title">
        <i class="icon-heart flr plus no-add"></i>
        <a href="#" class="title line g">${title}</a><br/>
        <span class="g desc">${address}</span>
    </div>
    <div class="pattern price">
        ${price}&nbsp;<font class="rub">a</font><i class="icon-q"></i>
    </div>
    <div class="pattern rate">
        <span class="rating"><!-- add icon-star when bind click.. -->
            <i class="icon-star"></i>
        </span>
        <span class="comments flr">${comments}</span>
    </div>
</li>
